@import "tailwindcss";

:root {
    --primary: #BC8660;
    direction: rtl;
}

body {
    background: #fff;
    color: #000;
}

.bg-primary {
    background: var(--primary);
}
.text-primary {
    color: var(--primary);
}

