@import "tailwindcss";
@import "./font.css";
:root {
    --primary: #BC8660;
    direction: rtl;
}

body {
    background: #fff;
    color: #000;
    font-family: Vazirmatn;
}

.bg-primary {
    background: var(--primary);
}
.text-primary {
    color: var(--primary);
}

