@import "tailwindcss";
@import "./font.css";
:root {
    --primary: #BC8660;
    direction: rtl;
}

body {
    background: #fff;
    color: #000;
    font-family: Vazirmatn;
}

.bg-primary {
    background: var(--primary);
}
.text-primary {
    color: var(--primary);
}

.container {
    max-width: 1320px !important;
}

.support {
    cursor: pointer;
}
.support .text {
    opacity: 0;
    transition: all 0.1s ease;
}
.support:hover .text {
    display: block;
    opacity: 1;
}